In [15]:
import pandas as pd
import os
import numpy as np
import json

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [16]:
# Get the backers_info from the backer_info csv file. 
backer_info_data = os.path.join('C:/Users/aadiv/Crowdfunding-ETL/backer_info.csv')
pd.set_option('max_colwidth',400)
backer_df = pd.read_csv(backer_info_data, header=0)

In [17]:
backer_df.head()

                                                                                          backer_info
0        {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1        {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2          {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3  {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4               {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}

In [18]:
backer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   backer_info  8175 non-null   object
dtypes: object(1)
memory usage: 64.0+ KB

In [19]:
# Iterate through the backers DataFrame and convert each row to a dictionary.

    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    
    # Append the list of values for each row to a list. 
    

# Print out the list of values for each row.

backer_df["backer_id"] = [x[15:19] for x in backer_df["backer_info"].values]
backer_df.head()

,backer_info,backer_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av16
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha12
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg79
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb56
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh50

In [20]:
import json
first_row = backer_df.iloc[0]['backer_info']
coverted_data = json.loads(first_row)
for k,v in coverted_data.items():
    print(k,v)

backer_id av166
cf_id 968
name Angelo Vincent
email avincent@live.com

In [32]:
dict_values = []
for i, row in backer_df.iterrows():
    data = row['backer_info']
    coverted_data = json.loads(data)
    row_values = [v for k, v in coverted_data.items()]
    dict_values.append(row_values)

In [33]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists. 

backerinfo_df = pd.DataFrame(dict_values, columns = ['backer_id','cf_id','name','email'])
backerinfo_df.head()

  backer_id  cf_id              name                  email
0     av166    968    Angelo Vincent      avincent@live.com
1     ha127    563     Hubert Arnold     harnold@yandex.com
2     lg794     65      Loris Goulet     lgoulet@yandex.com
3     tb566    563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506    563        Lexie Hunt         lhunt@live.com

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [34]:
# format column name by First and Last name 

backerinfo_df[["first_name","last_name"]] = backerinfo_df['name'].str.split(' ', n=1, expand=True)

backerinfo_df_clean = backerinfo_df.drop(['name'], axis=1)
backerinfo_df_clean.head(10)

backerinfo2_df = pd.DataFrame()
backerinfo2_df = backerinfo_df[["backer_id","cf_id","first_name","last_name","email"]]
backerinfo2_df.head(10)

  backer_id  cf_id first_name last_name                  email
0     av166    968     Angelo   Vincent      avincent@live.com
1     ha127    563     Hubert    Arnold     harnold@yandex.com
2     lg794     65      Loris    Goulet     lgoulet@yandex.com
3     tb566    563    Teodora  Brunelli  tbrunelli@outlook.com
4     lh506    563      Lexie      Hunt         lhunt@live.com
5     lh382    563    Lambert     Huber        lhuber@live.com
6     em444    563       Emmy     Morin        emorin@live.com
7     at582   1572    Armonda     Trani        atrani@live.com
8     id772   1911      Ilana      Duke      iduke@outlook.com
9     lw275     65     Leigha    Wright       lwright@live.com

In [35]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backerinfo2_df.to_csv("backer.csv", encoding="utf-8")